<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link href="/pico.min.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>👀 Cardstalker</title>
    </head>
    <body>
        <h1 style="text-align: center; margin-bottom: 0px;">Cardstalker</h1>
        <section layout:fragment="content">
            Witness the content!
        </section>
    </body>
        <small style="display: flex;
               width: 100%;
               bottom: 0px;
               margin-bottom: 15px;
               justify-content: center;">
            I 💚 <a href="https://github.com/TheGor1lla/cardstalker">Open Source </a>
        </small>
</html>
