<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cardstalker - Card Infos</title>
</head>
<body>

Some infos about your card:

<p th:text="${card.url}">Card URL</p>
<p th:text="${card.mailAddress}">Mail address</p>
<p th:text="${card.currentPrice}">Current Price</p>
<p th:text="${card.maxNotificationPrice}">max Notification Price</p>
<p th:text="${card.locale}">Locale</p>
<p th:text="${card.foil}">Foil</p>
<p th:text="${card.uuid}">UUID</p>

<a th:href="@{/delete/} + ${card.uuid}">delete</a>

</body>
</html>